.contenido {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.texto-info {
    font-weight: bold;
    margin-top: 30px;
}

footer {
    align-self: flex-end;
    color: white;
    line-height: 3;
    width: 100%;
    text-align: center;
}